ProgramFiles/UI/WordGame/.vs/WordGame/v14/.suo
ProgramFiles/UI/WordGame/.vs/WordGame/v14/.suo
ProgramFiles/UI/WordGame/.vs/WordGame/v14/.suo
ProgramFiles/UI/WordGame/WordGame/x64/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.obj
*.obj
*.tlog
*.tlog
*.exe
ProgramFiles/UI/WordGame/x64/Debug/WordGame.pdb
*.tlog
*.log
*.sdf
ProgramFiles/UI/WordGame/.vs/WordGame/v14/.suo
*.Cache